body {
    background-color: pink;
}

.heading {
    font-size: 120px;
    margin-left: 20px;
}

.underline {
    color: palevioletred;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.info {
    font-size: 18px;
}

.rules {
    background-color: palevioletred;
    margin-left: 100px;
}